<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    .form-container {
      max-width: 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f8f9fa;
    }
    .image-container {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="myFile">Choose File:</label>
          <input type="file" class="form-control-file" id="myFile" name="upload" accept=".jpg,.jpeg,.png,.jfif">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    {% if file_url %}
    <div class="image-container">
      <img src="{{file_url}}" alt="Uploaded Image" class="img-fluid">
    </div>
    {% endif %}
    <h2 class="text-center">{{pred}}</h2>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
